@{
    ViewBag.Title = "About";
}
@*
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
*@

<head>
    <style>
        .body2 {
            background-image: url('../../Images/aesthetic-iceberg.png');
            background-size: cover;
            background-origin: initial;
        }
    </style>
</head>

<body class="body2">
    <h2>Sobre la aplicación</h2>

    <p>
        Aplicación web para controlar y administar el inventario del local comercial Paper Valery.
        Todos los derechos reservados.
    </p>
</body>
